* {
  font-family: 'Lora', serif;
}

html,
body {
  font-size: 16px;
  margin: 0;
}

/* Main Containers */
.container {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 993px) {
  .container {
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}

h1 {
  letter-spacing: 0.075em;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  font-size: 4vw;
  text-transform: uppercase;  
}

@media only screen and (max-width: 993px) {
  h1 {
    font-size: 10vw;
  }
}

p {
  font-size: 1rem;
}

a {
  color: red;
}

/* Main Banner */
.splash {
  background-color: #292348;
  background-image: url("/static/assets/images/halloween-art/bg\ banner\ smoke.svg"), url("/static/assets/images/halloween-art/banner smoke.svg");
  background-position: 0% 0%, bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover; 
  position: relative;
  padding-bottom: 80px;
}

.banner {
  width: 57vw;
  min-height: calc(100vh - 64px);
  margin-left: 3vw;
}

#banner-graphic {
  height: 500px;
  padding-top: 30px;
}

.banner-info {
  width: calc(38vw - 20px);
  position: absolute;
  right: 5px;
  top: 15vh;
  color: #d5cbef;  
}

.banner-info .apply {
  margin-top: 40px;
  display: none;
}

.banner-info .haunted {
  text-transform: lowercase;
  font-style: oblique;
  color: #bb5c0e;
  font-size: 3rem;
}

.banner-info .tagline {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 1vw;
  text-align: left;
  line-height: 3.5rem;
}

.banner-info .date {
  margin-top: 0px;
  font-weight: bold;
  font-size: 2.5vw;
  text-transform: capitalize;
}

.banner-info .countdown {
  color: #d5cbef;
  display: flex;
  justify-content: left;
  text-align: center;
  align-items: left;
}

.banner-info .countdown .time {
  margin-right: 2vw;
}

.banner-info .update {
  margin-top: 0px;
  font-weight: bold;
  font-size: 1.5vw;
  text-transform: capitalize;
}

/* [Mobile] Main Banner */
@media only screen and (max-width: 993px) {
  .splash {
    min-height: 100vh;
  }

  .banner {
    width: 95vw;
    height: 70vh;
    min-height: auto;
    position: relative;
  }

  .banner-info {
    height: max-content;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 10vh;
    right: auto;
    left: 50%;
    margin-left: -40%;
    color: #d5cbef;
    text-align: center;
  }

  .banner-info .apply {
    text-decoration: none;
    display: block;
    background-color: #d5cbef;
    color: #292348;
    font-weight: bold;
    width: max-content;
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 3vw;
  }

  .banner-info .apply:last-child {
    margin-bottom: 5vw;
  }

  .banner-info .tagline {
    font-size: 5vw;
    text-transform: uppercase;
    margin-bottom: 1.5vw;
    text-align: center;
  }

  .banner-info .date {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 4vw;
    text-transform: capitalize;
  }
}
@media only screen and (max-width: 600px) {
  .splash {
    min-height: 80vh;
  }

  .banner {
    width: 95vw;
    height: 50vh;
    min-height: auto;
    position: relative;
  }

  .banner-info {
    height: max-content;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 50vh;
    right: auto;
    left: 50%;
    margin-left: -40%;
    color: #d5cbef;
    text-align: center;
  }

  .banner-info .apply {
    font-size: 4vw;
  }

  .banner-info .tagline {
    font-size: 4vw;
    text-transform: uppercase;
    margin-bottom: 2vw;
    text-align: center;
  }
  .banner-info .date {
    margin-top: 0px;
    font-weight: bold;
    font-size: 5vw;
    text-transform: capitalize;
  }
}
@media only screen and (max-width: 993px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

/* "Organizer Interest Form" Button (change later) */
.involve-button {
  margin-top: 20px;
  border-radius: 10px;
  transition: transform 0.15s;
  background-color: #d5cbef;
  border-color: #292348;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: large;
  margin-right: 30px;
}

.involve-button a {
  color: #292348;
  text-decoration: none;
  font-weight: bold;
}

.involve-button:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transition: transform 0.3s;
}

/* Nav Bar */
nav {
  width: 100%;
  height: 64px;
  background-color: #292348;
  top: 0;
  z-index: 99;
  position: sticky;
}

nav .home {
  display: flex;
  align-items: center;
}

nav .home img {
  height: 40px;
  margin-right: 10px;
}

nav li:first-child {
  margin-right: auto;
}

nav li {
  margin: 0px 15px 0px 15px;
  list-style-type: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  margin: auto;
  padding: 0px;
}

nav ul a {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: #d5cbef;
  padding: 0px 10px;
  height: 64px;
  font-size: 1.5rem;
  line-height: 64px;
  position: relative;
}

nav ul a.apply {
  background-color: #a12027;
  height: 27px;
  padding: 0px 5px;
  margin: 0px 10px;
  border-radius: 5px;
  position: relative;
  top: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: normal;
  transition: transform 0.15s;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

nav ul a.apply:hover {
  -webkit-transform: scale(1.05) translateY(-50%);
  transform: scale(1.05) translateY(-50%);
  transition: transform 0.3s;
  background-color: #c53043;
  color: #d5cbef;
  position: relative;
  top: 50%;
}

nav ul a.apply:hover::before {
  visibility: hidden;
}

nav ul a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f7f2d8;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

nav ul a:hover::before {
  visibility: visible;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}

.nav-anchor {
  display: block;
  position: relative;
  top: -64px;
  visibility: hidden;
}

/* About */
.about {
  background: #4a3974 url("/static/assets/images/halloween-art/about\ smoke.svg") no-repeat center center;
  background-size: cover; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding: 20vh 0 23vh 0;
  color: #d5cbef;
}

.about-description {
  background-color: #d5cbef;
  color:#23183b;
  border-radius: 5px;
  border-color: #23183b;
  padding: 1rem;
  font-size: 1rem;
}

.about-heading {
  text-align: left;
}

.about-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8vw;
}

.about-detail {
  flex: 2 1 0;
}

#about-graphic {
  height: 300px;
}

/* [Mobile] About */
@media only screen and (max-width: 993px) and (orientation: landscape) {
  .about {
    padding-top: 12.5vw;
  }
}

/* FAQ */
.faq {
  background: #3c2654 url("/static/assets/images/halloween-art/faq\ smoke.svg") bottom no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  padding: 0 0 20vh 0;
  color: #d5cbef;
}

#faq-container {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: -1vw;
  align-items:flex-start;
}

#faq-container div {
  flex: 0 1 50%;
  padding: 5px;
  box-sizing: border-box;
}

@media only screen and (max-width: 993px) {
  #faq-container div {
    flex: 0 1 100%;
  }
}

#faq-container div {
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
}

@media only screen and (max-width: 993px) {
  #faq-container div h2 {
    font-size: 2rem;
  }
}

/* FAQ Questions */
.accordion-header {
  cursor: pointer;
  background-color: transparent;
  color: #d5cbef;
  padding: 16px;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.accordion-header img.faq-img {
  height: 30px;
  margin-right: 15px;
}

.accordion-header p.faq-question {
  margin: 5px; 
  font-size: 1.25rem;
  font-weight: 600;
}

.active, .accordion-header:hover {
  cursor: pointer;
  color: #d5cbef;
}

.accordion-body {
  display: none;
}

.accordion-body p.faq-answer {
  margin: 0 0 0 55px;
  padding: 1rem;
  background-color: #d5cbef;
  color: #392751;
  border-radius: 5px;
  font-size: 1rem;
}

.spin {
  animation-duration: 500ms;
  animation-name: spin;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

/* Sponsors */
.sponsors {
  background: #25173d url("/static/assets/images/halloween-art/footer\ smoke.svg") bottom no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  padding:  0 0 15vh 0;
  color: #d5cbef;
}

#sponsor-section{
  display: flex;
  flex-direction: column;
}

.sponsorFooter {
  margin: auto;
  margin-bottom: 2vh;
  text-align: center;
  background-color: #d5cbef;
  border-radius: 5px;
  border-color: #23183b;
  padding: 1rem;
  color: #23183b;
  width: fit-content;
}

.sponsor-email {
  color:#796bae;
}

.sponsor-container {
  background-color: #d5cbef;
  border-radius: 5px;
  border-color: #23183b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 25px;
  padding: 4rem;
}

#JohnDeere-logo{
  height: 7rem;
  width: 10rem;
}

#KTP-logo, #DeutscheBank-logo{
  height: 5rem;
}

#CapitalOne-logo{
  height: 4rem;
  width: 10rem;
}

#Infosys-logo {
  height: 3rem; 
}

#CreditSuisse-logo{
  height: 3rem;
}

#CoStar-logo, #Accenture-logo, #Genesys-logo, #Optum-logo, #UltraPress-logo{
  height: 3rem;
}

.sponsor-image:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: transform 0.3s;
}

footer {
  height: max-content;
  background: #4a3974;
  color: #d5cbef;
  font-size: 1.3rem;
  text-align: center;
  padding-bottom:5vh;
}

footer p {
  margin-top: 0;
}

@media only screen and (max-width: 600px) {
  footer {
    height: 15vh;
  }
}
footer a {
  color: #d5cbef;
  margin: 0 10px;
}

footer .contact-info {
  margin-bottom: 15px;
}

footer u {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */
